<input type="text" ng-model="search.name">
<a class="btn btn-xs btn-info" href="#/add-recipe">Add a recipe</a>
<br/>
<br/>
<div class="block" ng-repeat="recipe in recipes | filter:search">
    <div>
        <a href="#/recipe-details/{{ recipe.id }}">{{ recipe.name }}</a>
        <a class="btn btn-xs btn-info" href="#/edit-recipe/{{ recipe.id }}">Edit</a>
    </div>
    <div class="block-info">
        <p>Recipe cook time: {{ recipe.cook_time }}</p>
        <p>Recipe description: {{ recipe.description }}</p>
    </div>
</div>